.playerprofile{
    width: 1100px; 
    height: 500px;
    margin-top: 0px;

    border-radius: 4px;

    background: white;


}
.bg{
    background-image: url('../../assets/playerbg.jpg');
    height:150px; 
    width: 1440px;
    border-radius: 4px 4px 4px 4px ;
    background-size: cover; /* Ensure the background covers the entire element */
    background-position: center; /* Center the background image */
  
}

.profile-down img{
    height: 200 px;
    border-radius: 100px; 
    border-color: #202020;
    margin-top: 50px;
    
    
    padding: 5px; 
    background: white;
}
.profile-title{
    font-size: 36 px;
    font-weight: 600; 
    margin-top: 50px;
    
}
.profile-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Green button */
    color: white;
    font-size: 16px;

    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .profile-button:hover {
    background-color: grey; /* Darker green on hover */
  }
  
  .upload-label {
    cursor: pointer; /* Makes the label act like a button */
  }
  