.welcomeContainer {
    padding-top: 2%;
    overflow: hidden;
    background-color: black;
    height: 40vh;
}

.imageContainer {
    position: relative;
    overflow: hidden;
}

.Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.greetings {
    font-family: "Chewy", system-ui;
    font-size: 5em;
    text-shadow: 0 0 0.8em rgb(255, 255, 255);
    color: aliceblue;
}

.description {
    font-family: "League Spartan", sans-serif;
    font-size: 1.5em;
    color: aliceblue;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(179.4deg, black 0%, rgb(12, 20, 69) 20%, rgb(71, 30, 84) 100%);
    min-height: 60vh;
    padding: 5%;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    align-items: center;
}

.cardTitle {
    font-family: "Chewy", system-ui;
}

.cardContent {
    font-family: "League Spartan", sans-serif;
}

.cardImage {
    height: 300px;
    width: 300px;
    overflow: hidden;
}