.navbar {
    font-size: 20px;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "League Spartan", sans-serif;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.logoImage {
    height: 30px;
    margin: 3px;
}